<div class="p-5 bg-cgray-600">
    <div class="pb-2">
        <h1 class="text-3xl font-bold">
            Search
        </h1>
    </div>
    <hr class="solid text-gray-500">
    <form method="post" action="">
        {% csrf_token %}
        <div class="w-full pt-5">
            <div class="grid grid-cols-6">
                <div class="col-span-5">
                    <input
                        class="px-3 py-2 text-gray-700 bg-cgray-700 rounded-l border border-cgray-700 leading-normal resize-none w-full font-medium placeholder-gray-400 focus:outline-none focus:border-teal-400"
                        name="search" placeholder='Search Text' id="search" required></input>
                </div>
                <input type='submit'
                    class="hover:cursor-pointer bg-teal-400 text-white font-medium rounded-r hover:opacity-50"
                    value='Go'>
            </div>
        </div>
    </form>
</div>