{% extends "base.html" %}

{% block content %}

<head>
    <meta name="title" content="{{ category }}">
    <meta name="description" content="{{ category }}">
</head>

<div class="">
    {% if articles%}
    <h2 class="text-4xl font-bold mb-8">
        Category: {{ category }}
    </h2>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-8">
        {% for article in articles %}

        <div class="pb-8 md:pb-0">
            <a href="{% url 'article_detail' article.category.title|lower article.id %}">
                <div
                    class="p-5 bg-cus-celldk sm:hover:bg-cus-acc sm:hover:scale-[1.02] sm:hover:shadow-lg sm:transition-all">
                    <h1 class="text-3xl font-bold">
                        {{ article.title }}
                    </h1>
                    <p class="pb-2 text-xl font-semibold text-cus-subtxtdk">
                        {{ article.date }}
                    </p>
                    <p class="pb-2 text-cus-subtxtdk">
                        {{ article.get_tags_small }}
                    </p>
                    <hr class="solid text-cus-subtxtdk">
                    <p class="pt-3 font-medium text-lg">
                        {{ article.description }}
                    </p>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-4xl font-bold">
        There are no articles here.
    </h2>
    {% endif %}
</div>

{% endblock content %}