{% extends "base.html" %}

{% block content %}

<head>
    <meta name="title" content="{{ category }}">
    <meta name="description" content="{{ category }}">
</head>

<div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-8">
    {% for article in articles %}

    <div class="pb-8 md:pb-0">
        <a href="{% url 'article_detail' article.category.title|lower article.id %}">
            <div class="p-5 bg-cgray-600 hover:opacity-50">
                <h1 class="text-2xl font-bold">
                    {{ article.title }}
                </h1>
                <p class="pb-2">
                    {{ article.date }}
                </p>
                <p class="pb-2 text-cgray-400">
                    {{ article.get_tags_small }}
                </p>
                <hr class="solid text-gray-500">
                <p class="pt-3">
                    {{ article.description }}
                </p>
            </div>
        </a>
    </div>

    {% endfor %}
</div>

{% endblock content %}