{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet"> -->

<head>
    <title>Jake Landers Code</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Jake Landers">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/github-dark.min.css">
    {% tailwind_css %}
</head>

<body class="bg-gray-800 text-white">
    {% include "top_bar.html" %}
    <div class="p-8 lg:grid lg:grid-cols-4 lg:grid-flow-col lg:gap-8">
        <div class="col-span-3 pb-8">
            {% block content %} {% endblock content %}
        </div>
        <div class="col-span-1">
            <!-- <div class="pb-8"> {% include "blog/side_menu/archives.html" %} </div> -->
            <div> {% include "blog/search/search.html" %} </div>
            <div class="pt-8"> {% include "blog/side_menu/projects.html" %} </div>
        </div>
    </div>
</body>

</html>