{% load tailwind_tags %}

{% url 'index' as index %}
{% url 'flutter' as flutter %}
{% url 'swiftui' as swiftui %}
{% url 'machine-learning' as machine_learning %}
{% url 'flutterswiftui' as flutterswiftui %}

<nav class="sticky bg-gray-800 top-0 z-50">
    <div class="mx-auto px-4 md:px-8">
        <div class="relative flex items-center justify-between h-24">
            <div class="flex-1 flex items-center justify-center">
                <div class="flex-1 flex items-center">
                    <a href="{{ index }}" class="hover:opacity-50">
                        <div>
                            <p class="text-white text-2xl font-extrabold">Jake Landers</p>
                            <p class="text-gray-300 text-md font-semibold">Full Stack Developer</p>
                        </div>
                    </a>
                </div>
                <div class="hidden md:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a href="{{ flutter }}"
                            class="{% if flutter in request.path %}bg-teal-400{% else %}hover:bg-teal-900 {% endif %} text-white px-5 py-2 text-sm font-medium">
                            Flutter
                        </a>

                        <a href="{{ swiftui }}"
                            class="{% if swiftui in request.path %}bg-teal-400{% else %}hover:bg-teal-900 {% endif %} text-white px-5 py-2 text-sm font-medium">
                            SwiftUI
                        </a>

                        <a href="{{ machine_learning }}"
                            class="{% if machine_learning in request.path %}bg-teal-400{% else %}hover:bg-teal-900 {% endif %} text-white px-5 py-2 text-sm font-medium">
                            Machine Learning
                        </a>
                        <a href="{{ flutterswiftui }}"
                            class="{% if flutterswiftui in request.path %}bg-teal-400{% else %}hover:bg-teal-900 {% endif %} text-white px-5 py-2 text-sm font-medium">
                            Flutter and SwiftUI
                        </a>
                        <a href="https://github.com/jake-landersweb/jake_code" target="_blank"
                            class="text-white bg-teal-400 hover:bg-teal-900 hover:text-white px-5 py-2 text-sm font-medium">
                            Github
                        </a>
                    </div>
                </div>
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <nav x-data="{ open: false }">
                        <button
                            class="mobile-menu-button text-gray-500 w-10 h-10 relative focus:outline-none hover:text-opacity-50"
                            @click="open = !open">
                            <span class="sr-only">Open main menu</span>
                            <div
                                class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                                <span aria-hidden="true"
                                    class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                    :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                                <span aria-hidden="true"
                                    class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out"
                                    :class="{'opacity-0': open } "></span>
                                <span aria-hidden="true"
                                    class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out"
                                    :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
                            </div>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="mobile-menu transition-all duration-500 ease-in-out opacity-0 max-h-0 hidden">
        <div class="px-5 pb-5 space-y-3">
            <a href="{{ flutter }}"
                class="{% if flutter in request.path %}bg-teal-400{% else %}hover:bg-teal-900{% endif %} text-white block px-5 py-2 text-base font-medium">
                Flutter
            </a>

            <a href="{{ swiftui }}"
                class="{% if swiftui in request.path %}bg-teal-400{% else %}hover:bg-teal-900{% endif %} text-white block px-5 py-2 text-base font-medium">
                SwiftUI
            </a>

            <a href="{{ machine_learning }}"
                class="{% if machine_learning in request.path %}bg-teal-400{% else %}hover:bg-teal-900{% endif %} text-white block px-5 py-2 text-base font-medium">
                Machine Learning
            </a>
            <a href="{{ flutterswiftui }}"
                class="{% if flutterswiftui in request.path %}bg-teal-400{% else %}hover:bg-teal-900{% endif %} text-white block px-5 py-2 text-base font-medium">
                Flutter and SwiftUI
            </a>
            <a href="https://github.com/jake-landersweb/jake_code" target="_blank"
                class="text-white bg-teal-400 hover:bg-teal-900 block px-5 py-2 text-base font-medium">
                Github
            </a>
        </div>
    </div>
    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            if (menu.classList.contains("opacity-0")) {
                // set menu to open
                menu.classList.remove("hidden");
                // small delay then animate the opem
                setTimeout(() => {
                    menu.classList.remove("opacity-0");
                    menu.classList.remove("max-h-0");
                    menu.classList.add("opacity-100");
                    menu.classList.add("max-h-screen");
                }, 10);
            } else {
                // close menu
                menu.classList.remove("opacity-100");
                menu.classList.remove("max-h-screen");
                menu.classList.add("opacity-0");
                menu.classList.add("max-h-0");
                // hide after animation is done
                setTimeout(() => { menu.classList.add("hidden"); }, 500);
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</nav>