{% load tailwind_tags %}

{% load static %}

{% url 'index' as index %}
{% url 'articles' as articles %}

<nav>
    <div class="mx-auto px-4 md:px-8">
        <div class="relative flex items-center justify-between h-24">
            <div class="flex-1 flex items-center justify-center">
                <div class="flex-1 flex items-center">
                    <a href="{{ index }}" class="hover:opacity-50">
                        <div>
                            <p class="text-2xl font-bold font-rubik">Jake Landers</p>
                            <p class="text-cus-subtxtdk text-md font-semibold">Full Stack Developer</p>
                        </div>
                    </a>
                </div>
                <div class="hidden md:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a href="{{ articles }}" class="px-5 py-2 text-2xl font-bold hover:opacity-50">
                            <div class="flex space-x-2 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    class="!fill-cus-txtdk">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z" />
                                </svg>
                                <h2>Articles</h2>
                            </div>
                        </a>
                        <a href="https://github.com/jake-landersweb/jake_code" target="_blank"
                            class="px-5 py-2 text-2xl text-cus-subtxtdk font-bold hover:opacity-50">
                            <div class="flex space-x-2 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    class="!fill-cus-subtxtdk">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z" />
                                </svg>
                                <h2> Github</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <nav x-data="{ open: false }">
                        <button
                            class="mobile-menu-button text-gray-500 w-10 h-10 relative focus:outline-none hover:text-opacity-50"
                            @click="open = !open">
                            <span class="sr-only">Open main menu</span>
                            <div
                                class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                                <span aria-hidden="true"
                                    class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                    :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                                <span aria-hidden="true"
                                    class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out"
                                    :class="{'opacity-0': open } "></span>
                                <span aria-hidden="true"
                                    class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out"
                                    :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
                            </div>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="mobile-menu transition-all duration-500 ease-in-out opacity-0 max-h-0 hidden px-4">
        <a href="{{ articles }}" class="px-5 py-2 text-2xl font-bold hover:opacity-50">
            <div class="flex space-x-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                    class="!fill-cus-txtdk">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z" />
                </svg>
                <h2>Articles</h2>
            </div>
        </a>
        <a href="https://github.com/jake-landersweb/jake_code" target="_blank"
            class="px-5 py-2 text-2xl text-cus-subtxtdk font-bold hover:opacity-50">
            <div class="flex space-x-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                    class="!fill-cus-subtxtdk">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z" />
                </svg>
                <h2> Github</h2>
            </div>
        </a>
    </div>
    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            if (menu.classList.contains("opacity-0")) {
                // set menu to open
                menu.classList.remove("hidden");
                // small delay then animate the opem
                setTimeout(() => {
                    menu.classList.remove("opacity-0");
                    menu.classList.remove("max-h-0");
                    menu.classList.add("opacity-100");
                    menu.classList.add("max-h-screen");
                }, 10);
            } else {
                // close menu
                menu.classList.remove("opacity-100");
                menu.classList.remove("max-h-screen");
                menu.classList.add("opacity-0");
                menu.classList.add("max-h-0");
                // hide after animation is done
                setTimeout(() => { menu.classList.add("hidden"); }, 500);
            }
        });

        const menuclass = document.querySelector(".menuclass");

        window.addEventListener('scroll', () => {
            let y = 1 + (window.scrollY || window.pageYOffset)
            y = y < 1 ? 1 : y // ensure y is always >= 1 (due to Safari's elastic scroll)
            if (y > 100) {
                menuclass.classList.remove("bg-cus-bgdk");
                menuclass.classList.add("bg-cus-celldk");
                menuclass.classList.add("shadow-md");
            } else {
                menuclass.classList.remove("bg-cus-celldk");
                menuclass.classList.add("bg-cus-bgdk");
                menuclass.classList.remove("shadow-md");
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</nav>